{% extends 'base.html.twig' %}
{% block titre %}Demande d'explication{% endblock %}

{% block stylesheets %}

    {% include '@Presence/comptePresence/style_card.css.twig' %}

{% endblock %}

{% block sidemenu %}{% endblock %}

{% block container_sansmenu %}
    <h1 class="text-primary text-center"><a href="{{ path('absence_index') }}">Information sur le retard</a></h1>
    <hr>
    <div class="row">
        <div class="col-md-3">


            {% set lien_profil = path('employe_voir', { 'slug' : employe.slug }) %}

            {% if not app.user.ifRole("ROLE_PAIE") %}
                {% set lien_profil = "#" %}
            {% endif %}

            <br>
            <div class="">

                <div class="card hovercard">
                    <div class="cardheader"></div>
                    <div class="avatar">
                        <img alt="" src="{{ asset('document/imagesEmployes/') }}{{ employe.imageUrl }}">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a {% if  lien_profil != "#" %} target="_blank" {% endif %}  href="{{ lien_profil }}">{{ employe.nom }} {{ employe.prenom }}</a>
                        </div>
                        <div class="desc"><h4><b>Poste: </b> {{ employe.poste }}</h4></div>
                        <div class="desc"><h4><b>Reste congé: </b> {{ employe.comptePresence.resteConge }}</h4></div>
                        <div class="desc"><h4><b>Addresse: </b> {{ employe.adresse }}</h4></div>
                        <div class="desc"><h4><b>Contact: </b> {{ employe.contact }}</h4></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="center-block text-center">
                <h3>Action du responsable :</h3>
                {#{% if etat == 'Confirmer' or etat == 'Confirmer par vous' %}#}
                {#<h4 class="text-success"><b>Confirmé par: {{ absence.userConfirme.nom }}</b></h4>#}
                {#{% elseif etat == 'Refuser' %}#}
                {#<h4 class="text-danger"><b>Refusé par: {{ absence.userRefuser.nom }}</b></h4>#}
                {#{% if absence.texteRefuser %}#}
                {#<h5>#}
                {#<span>Motif:</span>#}
                {#{{ absence.texteRefuser }}#}
                {#</h5>#}
                {#{% endif %}#}
                {#{% if app.user.ifRole('ROLE_ADMIN') %}#}
                {#<a href="{{ path('absence_accepter', { 'id' : absence.id } ) }}" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Reconfirmer</a> <br> <br>#}

                {#{% endif %}#}
                {#{% elseif app.user.ifRole('ROLE_ADMIN') %}#}
                {#<a href="{{ path('absence_accepter', { 'id' : absence.id } ) }}" class="btn btn-success btn-lg"><i class="fa fa-check"></i> Accepter</a> <br> <br>#}
                {#<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#ModalRefuser"><i class="fa fa-close"></i> Refuser</button>#}
                {#{% else %}#}
                {#<h5 class="text-warning">#}
                {#{{ absence.etat }}#}
                {#</h5>#}
                {#{% endif %}#}

                {% if app.user.ifRole('ROLE_ADMIN') %}
                    <button class="btn btn-danger btn-lg" id="button1" type="button" data-toggle="modal" data-target="#ModalDelete"><i class="fa fa-warning"></i> Supprimer</button>

                {% else %}

                {% endif %}


            </div>
            <br>

            <div class="well">

                <h4>- <b>Date d'entré :</b> {{ historique_abs.retard .dateHeure|date('d/m/Y à H:i') }}</h4>

                <h4>- <b>Durée du retard :</b>{{ historique_abs.retard.dateHeure|retard }}</h4>
                {% if historique_abs.retard.motif %}
                    <h4>- <b>Motif :</b> {{ historique_abs.retard.motif|nl2br  }}</h4>
                {% endif %}


            </div>

        </div>
        <div class="col-md-3 ">

        </div>


    </div>

    <div class="modal fade"  id="ModalDelete" role="dialog">
        <form action="" method="post">

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"> </button>
                        <h4 class="modal-title"><i class="fa fa-info-circle"></i> information </h4>
                    </div>
                    <div class="modal-body">

                        <div>
                            <h3 class="text-primary ">Souhaitez vous supprimer cette information !</h3>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('retard_supprimer',{'id' : historique_abs.id }) }}" class="btn-lg btn-danger">Valider</a>
                        <button class="btn-lg btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </div>

            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}

    {#SCRIPT DE L'AUTEUR TABLEAU#}
    <script>
        hhh = $(window).height();

        maTable = hhh - 375;

        $('#maTable').height(maTable);
    </script>


    <script src="{{ asset('assets/table_fix_header/table.js') }}"></script>
{% endblock %}