<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div#bandeau {
            width: 1000px;
            height:400px;


        }
        div#contenu {
            width:1000px;
            height:400px;


        }
        div#piedpage {
            width:1000px;
            height:50px;


        }
        div#gauche {
            float: left;
            width:400px;
            height:50px;


        }
        div#droit {
            float: right;
            width:600px;
            height:50px;


        }
        div#titre1 {
            float: left;
            width:500px;
            height:150px;


        }
        div#titre2 {
            float: right;
            width:500px;
            height:150px;


        }
        div#Scontenu {

            width:920px;
            height:auto;


            margin-left: 20px;


        }
        img {
            border: 1px solid #ddd;

            margin-left: 45px;
            margin-top: 45px;

        }
        div#sgauche {
            margin-left: 0px;
            border: 1px solid black;
            margin-top: 30px;
            width:350px;
            padding-left: 20px;
            padding-top: 10px;
            height:150px;
        }

        div#sdroit {
            border: 1px solid black;
            width:auto;
            text-align:center;
            padding-top: 10px;
            height:80px;
            margin-top: 50px;
            margin-right:125px

        }
        div#stitre1 {
            border: 1px solid black;
            width:400px;
            margin-left: 30px;

            font-style: italic;
        }
        p{
            line-height: 0.5;
        }
        h2{
            margin: 10px;
        }
        div#stitre2 {

            margin-top: 50px;
            margin-left: 20px;}

        table {
            border-collapse:collapse;
            border-style:solid;
            border-color:black;
            width:920px;
            text-align: left;
        }
        #footer {
            border:0px;
            width:920px;

        }
        td{ height: 50px;
            margin-right: 20px;
            text-align:center;
            white-space:nowrap;

        }
        th{text-align:center;}


    </style>
</head>
<body>
<div id="bandeau">


    <div id="gauche">
        <img src="{{ asset('images/logo_md.jpg') }}" alt="" height="120" style="margin:5px 5px 5px 5px; border: none" >
        <br>
        <div id="sgauche">
            {#<h3>Société {{ societe.nom }} </h3>
            <p >Raison social : {{ societe.raisonSocial }} </p>
            <p  >Activité : {{ societe.activite }} <p>
            <p >Adresse :  {{ societe.adresse2 }}  <p>#}
        </div>

    </div>
    <div id="droit">


        <div id="sdroit">
            <h2 >Etat avance quinzaines et remboursement avances spéciales </h2>
            <p style="margin-top:50px"><b>Période du </b>{{ debut|date('d/m/Y') }} <b>au</b> {{ fin|date_modify("-1 day")|date('d/m/Y') }}</p>
        </div>
    </div>
</div>
<div id="contenu">
    <br>

    <div id="Scontenu">

        <table border="1">
            <thead>
            <tr>
                <th>Mat </th>
                <th>Nom et Prénom</th>
                <th>Avance quinzaines</th>
                <th>Remboursement <br>avance spéciales</th>
                <th style="width: 250px">Emargement</th>
            </tr>

            </thead>
            <tbody>
            {% set gTotalQz=0 %}
            {% set gTotalSp=0 %}
            {% for liste in listes %}
            <tr>
                <td style="text-align: left">
                    {{ liste.matricule }}
                </td>
                <td style="text-align: left">
                    {{ liste.nom }} {{ liste.prenom }}
                </td>
                <td  style="text-align:right; white-space:nowrap;">
                    {% set gTotalQz=gTotalQz+liste.avanceQz %}
                    {% if liste.avanceQz!=0 %}
                        {{ liste.avanceQz|number_format('2', ',',' ') }}
                    {% else %}
                        <span >-</span>
                    {% endif %}

                </td>

                <td  style="text-align:right; white-space:nowrap;">
                    {% set gTotalSp=gTotalSp+liste.avanceSp %}
                    {% if liste.avanceSp !=0 %}
                        {{ liste.avanceSp|number_format('2',',',' ') }}
                    {% else %}
                       <span style="text-align: center">-</span>
                    {% endif %}

                </td>
                <td>

                </td>
            </tr>
            {% endfor %}

            {% for i in 1..15-listes|length %}
                <tr>
                    <td>
                        <br>
                    </td>
                    <td>

                    </td>
                    <td  style="text-align:right; white-space:nowrap;">

                    </td>

                    <td  style="text-align:right; white-space:nowrap;">

                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}

            </tbody>

            <tfoot  style="border-left:hidden;border-bottom:hidden">
                <tr >

                    <th colspan="2" style="text-align:right;padding: 5px">TOTAL :</th>
                    <th style="padding: 5px;border-left:hidden;border-right:hidden;text-align:right; white-space:nowrap;">{{ gTotalQz|number_format('2', ',',' ') }}</th>
                    <th style="padding: 5px;border-left:hidden;border-right:hidden;text-align:right; white-space:nowrap;">{{ gTotalSp|number_format('2', ',',' ') }}</th>

                </tr>
            </tfoot>
        </table>
        <br>

    </div>

    <div style="margin-left:10px">
      <p style="font-size:1.2em;">  Arrêté à la somme de : <b>{{ total }} Ariary</b></p>

        <!-- 	   	<p style="font-size:1.2em;margin-left:800px;margin-top:50px;padding:5px;width:100px;border:hidden;border-bottom:1px solid black;text-align:center"> </p>
         -->

    </div>

</div>
<div id="piedpage">

</div>
</body>
</html>