{% extends 'base.html.twig' %}
{% block titre %}Liste Employé{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/DataTables/datatables.css') }}">
    <h1 class="text-primary">Gestion de paie des employées</h1>
    <hr>

    <div class="">
        <div class="row">
            <ul class="list-inline">
                <li>
                    <a href="{{ path('liste_demande') }}" class="btn btn-lg btn-success" >  Liste des Demandes Avance</a>
                </li>
                <li>
                    <a  href="{{ path('listeAvanceSpeciale') }}" class="btn btn-lg btn-danger " > Liste Avance special</a>
                </li>
            </ul>
        </div>
        <hr>
    </div>

    <table class="table-striped table" id="myTablepaie">
        <thead>
        <tr>
            <th></th>
            <th>Matriculle</th>
            <th>Nom et Prénom</th>
            <th>Poste</th>
            <th>Salaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>
                    <strong class="hide">
                        {% if employe.matricul %}
                            1
                        {% else %}
                            0
                        {% endif %}
                    </strong>
                    <img src="{{ asset('document/imagesEmployes/') }}{{ employe.imageUrl }}" alt="" class="img-circle" width="50" height="50"></td>
                <td>{{ employe.matricul }}</td>
                <td><a href="{{ path('paie_detail',{ 'slug':employe.comptePaie.slug }) }}">{{ employe.nomComplet }}</a></td>
                <td>{{ employe.poste }}</td>
                <td class="text-left">{{ employe.salaire|number_format(2, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('paie_detail',{ 'slug':employe.comptePaie.slug }) }}" class="btn btn-primary write "><i class="fa fa-eye"></i> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#SORT DU TABLE#}
    <script src="{{ asset('assets/DataTables/datatables.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#myTablepaie').DataTable({
                paging: false,
                info: false,
                order: [ [0, "desc"], [1, "asc"] ],
                language: {
                    processing:     "Traitement en cours...",
                    search:         "Rechercher&nbsp;:",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix:    "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first:      "Premier",
                        previous:   "Pr&eacute;c&eacute;dent",
                        next:       "Suivant",
                        last:       "Dernier"
                    },
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        } );
    </script>

{% endblock %}
